body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(pexels-johannes-plenio-1118873.jpg);
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
.converter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.converter input[type="number"] {
    width: 100px;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.converter select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    background-color: blue;
}